{% extends "slides/_blank.j2" %}

{% import "utility.macros.j2" as utility %}


{% block slide_classes %}grid grid-3{% endblock %}


{% block slide %}
  {{ utility.iconic_block('SMACSS', '2008', 'pane') }}

  {{ utility.iconic_block('OOCSS', '2008', 'pane') }}

  {{ utility.iconic_block('BEM', '2008', 'pane') }}

  {{ utility.iconic_block('RWD', '2005', 'pane') }}

{% endblock %}
