{% extends "slides/_blank.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide %}

  {{ u.iconic_block('BC', 'before collaboration', 'pane') }}

  {{ u.iconic_block('AC', 'after collaboration', 'pane') }}


{% endblock %}
