{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  Cizitiens calling for change
{% endblock %}


{% block slidebody -%}
 Images of ferguson, earl garner, or lights of protests!
{%- endblock %}


