{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  We have a lot to contribute
{% endblock %}

{% block slidebody -%}
  Civicially mindded tech companies
  the tech company that started up in ferguson member of oakland community!!
{%- endblock %}


