{% extends "slides/_title.j2" %}

{% block h1 %}Our Front-End Revolution{% endblock %}
{% block h2 %}Remixed by Claudina Sarahe{% endblock %}

{% block slidebody -%}

<h2>Acknowledgement/Thanks</h2>

<ul>
  <li>Alfredo Lopez, et all &#8220;The Organic Internet&#8221;</li>
  <li>Clay Shirky &#8220;The Power of Organizing&#8221; and &#8220;Cognitive Surplus&#8221;</li>
  <li>Ben Melancon, Jack Aponte, &amp; Mallory Knodel and other Radical Techies who introduced me to the value of FOSS and worked owned/people powered communities</li>
  <li>To the Drupal, where you stay for the community.</li>
  <li>To Sass, the queerist, most radical community yet. &lt;3 you.</li>
  <li>To my mom for having all the books on Network Structure and for Betrand Russell.</li>
  <li>To all those marching in protest for what they believe in. Now and throughout history.</li>
</ul>
{%- endblock %}

