{% extends "slides/_default.j2" %}

{% block h1 %}The Front-End Revolution{% endblock %}

{% block slidebody -%}

<p>Claudina Sarahe | <b>@itsmisscs</b> | <b>@oddestbirds</b></p>

<h2>Thanks To</h2>
<ul>
  <li><b>Organizers</b> of this conference for <b>prioritizing community</b>
  <li><b>Ben Melancon</b>, <b>Jack Aponte</b>, &amp; <b>Mallory Knodel</b> and other Radical Techies who introduced me to the value of FOSS and worker-owned/people powered communities</li>
  <li>Sass, <b>the queerest, most radical community yet</b>. &lt;3 you.</li>
  <li><b>my mom</b> for having all the books on Network Structure and for Bertrand Russell.</li>
  <li><b>all those marching in protest for what they believe in</b>. Now and throughout history.</li>
</ul>
{%- endblock %}

