{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  Compass Provides Direction
{% endblock %}
{% block h2 %}trigger{% endblock %}

{% block slidebody -%}
  Compass stuffs here
{%- endblock %}


