{% extends "slides/_blank.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide %}

  {{ utility.iconic_block('960px', '2005', 'pane') }}

  {{ utility.iconic_block('ie', '2008', 'pane') }}

  {{ utility.iconic_block('css3', '2008', 'pane') }}

{% endblock %}
