{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  An invitation to {{ u.accent('participate') }}
{% endblock %}
{% block h2 %}(motivation and trigger){% endblock %}

{% block slidebody -%}
{%- endblock %}


