{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}


{% block h1 %}
  {{ u.accent('Simple') }} solution
{% endblock %}
{% block h2 %}(ability){% endblock %}

{% block slidebody -%}

{%- endblock %}


