{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Good{{ u.accent('Documentation') }}
{% endblock %}
{% block h2 %}lowering ability{% endblock %}

{% block slidebody -%}
  Quote here
{%- endblock %}


