{% extends "slides/_blank.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide %}

  {{ utility.iconic_block('DTHMLX', '2005', 'pane') }}

  {{ utility.iconic_block('Dojo', '2008', 'pane') }}

  {{ utility.iconic_block('MooTools', '2008', 'pane') }}

  {{ utility.iconic_block('Prototype', '2008', 'pane') }}

{% endblock %}
