{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Game Changer 2014
{% endblock %}
{% block h2 %}Net Magazines{% endblock %}

{% block slidebody -%}
  So how did sass win?
{%- endblock %}


