{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}

{% endblock %}
{% block h2 %}(less ability){% endblock %}

{% block slidebody -%}
  Quote here
{%- endblock %}


