{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as utility %}

{% block h1 %}
  Pave the Cowpaths
{% endblock %}
{% block h2 %}finding good ideas{% endblock %}


{% block slidebody %}

  {{ utility.iconic_block('CSS Variables', '2005', 'pane') }}

  {{ utility.iconic_block('ECMA Script 6', '2008', 'pane') }}

{% endblock %}
