{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  Collective Participation + Collective Action
{% endblock %}
{% block h2 %}
  Required ingredients for change
{% endblock %}


