{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  It's about <b>Humanity</b>
{% endblock %}


{% block slidebody -%}

{%- endblock %}


