{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  It's about Humanity
{% endblock %}


{% block slidebody -%}
  images here
  humans of ny
  or maybe faces of people at sassconf
{%- endblock %}


