{% extends "slides/_quote.j2" %}

{% import "utility.macros.j2" as utility %}

<h1>Gets The Value Of Allowing Anyone To Contribute</h1>

{% block quote %}
  Michael Geary contacted me today to let me know that he’s finished the first
  third-party jQuery plugin...I’m planning on opening up a plugin repository soon,
  so that plugin authors can submit their code, have an area for documentation
  and comments, and allow for patches. More details on this, soon.
{% endblock %}

{% block author %}
  <em>J.Resig</em>, second blog post
{% endblock %}

