{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  jQuery <b>Success</b>
{% endblock %}
{% block h2 %}<b>#1</b> OOS framework in use{% endblock %}

{% block slidebody -%}
<ol class="list">
  <li class="item">a simple approach</li>
  <li class="item">good documentation</li>
  <li class="item">an invitation to participate</li>
</ol>
{%- endblock %}


