{% extends "slides/_blank.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide %}

  {{ u.iconic_block('RubyonRails', '2014', 'pane') }}

  {{ u.iconic_block('Django', '2014', 'pane') }}

  {{ u.iconic_block('Creative Commons', '2008', 'pane') }}

  @TODO what was iconic in 2005!!!!

{% endblock %}
