{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  New Behaviors
{% endblock %}


{% block slidebody -%}
We’ve enabled groups and individuals to try radical things! by removing any barriers to collaboration
  the act of working together, physically and intellectually, meshing ideas and configuring our ideas to incorporate the ideas of others
- We’re creating an environment in which people who want to get something done can in a timely fashion
- We’re creating encouraging and supportive environments that nurture creativity and individuality

{%- endblock %}


