{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  <b>No Cliques</b>
{% endblock %}
{% block h2 %}
  A very wise person once said
{% endblock %}



{% block slidebody -%}

{%- endblock %}

