{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  Participatory Culture
{% endblock %}
{% block h2 %}civicly focused{% endblock %}

{% block slidebody -%}
  Images of bar-camps, alter conf, perhaps logos like

  code of america,
  PB,
  coder dojo
  black girls code
  ada initiative
  girl develop it


{%- endblock %}


