{% extends "slides/_blank.j2" %}

{% block slide %}
  <blockquote>Revolutions don't happen when society adopts new technologies,
    they happen when society adopts new behaviors.</blockquote>
  <cite>Clay Shirky</cite>
{% endblock %}
