{% extends "slides/_blank.j2" %}

{% block slide %}
“the response has been enormous and shows how badly JavaScript programmers
want a better library for writing code with.”
J.Resig's First Blog Post On JQuery.Com
January 24, 2006
{% endblock %}
