{% extends "slides/_quote.j2" %}

{% block slide_classes %}quote vertical-center{% endblock %}

{% block quote %}
The response has been enormous and <b>shows how badly JavaScript programmers
want a better library</b> for writing code with.
{% endblock %}

{% block author %}
John Resig, first blog post jquery.com
<time>January 24, 2006</time>
{% endblock %}
