{% extends "slides/_quote.j2" %}

{% block quote %}
  <p>The idea of voting as our only exercise in citizenship does not make sense anymore.</p>
  <p>So how do we start building cities that make us care? Cities that value their
  most important asset: the incredible diversity of the people who live in them?
  Cities that make us happy? Well, I believe that if we want to change what our
  cities look like, then we really have to change the decision-making processes
  that have given us the results that we have right now.
  We need a participation revolution, and we need it fast.</p>
{% endblock %}

{% block author %}
  <em>Alessandra Orofino</em>,
  <a href="http://www.ted.com/talks/alessandra_orofino_it_s_our_city_let_s_fix_it/">
    It's our city let's fix it (TED Talk)
  </a>
{% endblock %}
