{% extends "slides/_quote.j2" %}

{% import "utility.macros.j2" as u %}



{% block quote %}
It's a {{ u.accent('bottom-up, participatory innovation') }} it's
{{ u.accent('democratic') }}, it's chaotic,
it's hard to control. It's not bad, but it's very different…the
{{ u.accent("traditional rules that we have for institutions don't work anymore") }},
and most of us here operate with a different set of principles.
{% endblock %}

{% block author %}
  <em>Joe Ito</em>, Director MIT Media Lab
{% endblock %}
