{% extends "slides/_blank.j2" %}

{% block slide %}
<strong>What matters most now is our imaginations</strong>. Our opportunities
are determined by how well we are able to <em>imagine and
reward</em> <em>public creativity, participations, and sharing</em>.
{% endblock %}
