{% extends "slides/_quote.j2" %}

{% block quote %}

<p>[T]here is less harm in indulging the spurious impulse for a time than in
thwarting the impulse which is genuine.</p>

<p>This artist's impulse is a thing of infinite value to the individual, and often
  to the world; to respect it in oneself and in others makes up nine-tenths of the good life"

{% endblock %}

{% block author %}
  Betrand Russel, from Individual Liberty and The Public Control, 1963
{% endblock %}

