{% extends "slides/_title.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Institutions
{% endblock %}
{% block h2 %}
  <b>We don't need you!</b>
{% endblock %}



