{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}bg--cover{% endblock %}


{% block h1 %}
  Small Work Networks
{% endblock %}
{% block h2 %}{{ u.accent('Evolutionary advantageous') }}{% endblock %}

{% block slidebody -%}
{%- endblock %}


