{% extends "slides/_blank.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide %}

  {{ utility.iconic_block('Resistant to Damage', '2005', 'pane') }}

  {{ utility.iconic_block('Information disseminaters', '2008', 'pane') }}

 @TODO Research what css and js are borrowing/find quotes

{% endblock %}
