{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  CSS is <b>PAINFUL</b>
{% endblock %}
{% block h2 %}Circa 2007{% endblock %}

{% block slidebody -%}
  {{ u.image('css.gif', "Animated GIF. CSS as complex as opening blinds")}}
{%- endblock %}


