{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  Why is this behavior shift important
{% endblock %}

{% block slidebody -%}
  What's NPM?
  A package manager....
{%- endblock %}

