{% extends "slides/_title.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  What makes something <b>revolutionary</b>?
{% endblock %}


