{% extends "slides/_default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  Yes
{% endblock %}
{% block h2 %}we are succeeding{% endblock %}

{% block slidebody -%}

What’s wonderful and encouraging is that we are already working on it and there are many great examples of success within our close groups.

  [images of diversity in our tech communities or photos from sass conf]
  [quote from fox!]

Let’s make sure that we share our best organizing practices as much as our code. Remix or conferences

  (converge borrowing from grok)

{%- endblock %}


