{% extends "slides/title.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}<b>Mid Aughts</b>{% endblock %}
{% block h2 %}Back it up{% endblock %}

{% block slidebody %}
    BBEdit 1991
    Textmate 2004
    RoR 2005
    Sublime Text 2008
    Atom 2014/15 https://en.wikipedia.org/wiki/Atom_(text_editor)

CoffeeScript 2009 https://en.wikipedia.org/wiki/CoffeeScript
NodeJS 2009

Browserify 2011
{% endblock %}
