{% extends "slides/default.j2" %}

{% block h1 %}
  {{ u.sans('Behavior', 'slab') }}
{% endblock %}

{% block slidebody -%}
  <span class="u-sans u-block">
    <span class="u-accent">M</span><span class="">otivation</span>
    <span class="u-serif times">x</span>
  </span>

  <span class="u-sans u-block">
    <span class="u-accent">A</span><span class="">bility</span>
    <span class="u-serif times">x</span>
  </span>

  <span class="u-sans u-block">
    <span class="u-accent">T</span><span class="">rigger</span>
    <span class="u-serif times">=</span>
  </span>

{%- endblock %}
