{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  {{ u.abbr('Behavior', 'b')}}
  <span class="equals">=</span>
  {{ u.abbr('Motivation', 'm')}}
  {{ u.abbr('Ability', 'a')}}
  {{ u.abbr('Trigger', 't')}}
{% endblock %}
{% block h2 %}Fogg Behavior Model{% endblock %}

{% block slidebody -%}
  <img src="../static/images/bmat.png" alt="Graph of Fogg Behvior Model">
{%- endblock %}

