{% extends "slides/default.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  <a href="https://twitter.com/hashtag/blacklivesmatter">
    #Black Lives Matter
  </a>
{% endblock %}



