{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Turn Capabilities <b>into Opportunities</b>
{% endblock %}

{% block slidebody %}

  {{ utility.iconic_block('Git', '2005', 'pane') }}

  {{ utility.iconic_block('GitHub', '2008', 'pane') }}

{% endblock %}
