{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  We have <b>a lot to contribute</b>
{% endblock %}

{% block slidebody -%}
{%- endblock %}


