{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Create <b>opportunities</b>
{% endblock %}
{% block h2 %}where they matter most{% endblock %}

{% block slidebody -%}
{%- endblock %}


