{% extends "slides/default.j2" %}

{% block slide_classes %}vertical-center{% endblock %}


{% block h1 %}
  {{ u.cursive("Status of our stylesheets", "display") }}
{% endblock %}

{% block slidebody %}
  <ul>
    <li><b>960px</b> all my designs rock</li>
    <li>IE 6, 7, 8, 9, <b>FML</b></li>
    <li><b>CSS3</b>, I think my problems are solved!</li>
  </ul>
{% endblock %}
