{% extends "slides/default.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Photoshop in the browser
{% endblock %}

{% block slidebody %}
http://thenewcode.com/707/PhotoShop-In-The-Browser-Understanding-CSS-Blend-Modes
{% endblock %}
