{% extends "slides/blank.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide_classes %}stacked{% endblock %}


{% block slide %}
<ol class="list">
  <li class="item">a simple approach</li>
  <li class="item">good documentation</li>
  <li class="item">an invitation to participate</li>
</ol>
{% endblock %}
