{% extends "slides/default.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  {{ u.sans('An invitation to') }}
  {{ u.sans('participate', 'u-accent') }}
{% endblock %}

{% block slidebody -%}
{%- endblock %}


