{% extends "slides/default.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  {{ u.sans('Game Changer', 'u-accent') }}
{% endblock %}

{% block h2 %}
  {{ u.serif('.Net Award 2014') }}
{% endblock %}

{% block slidebody -%}
<p class="u-serif">Shortlisted for <b>best Open Source design project</b>, too!</p>
{%- endblock %}


