{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  <b>Game Changer</b> 2014
{% endblock %}
{% block h2 %}.Net Award{% endblock %}

{% block slidebody -%}
<p>Shortlisted for <b>best Open Source design project</b>, too!</p>
{%- endblock %}


