{% extends "slides/quote.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}quote vertical-center{% endblock %}

{% block quote %}
<b>What matters most now is our imaginations.</b> What we do with the opportunities
before us will be determined largely by how well we are able to imagine and
reward public creativity, participations, and sharing.
{% endblock %}

{% block author %}
  <em>Clay Shirky</em>, Our Cognitive Surplus
{% endblock %}
