{% extends "pres.j2" %}
{% import "slides/macros.j2" as pres %}

{% block data_talk %}revolution{% endblock %}

{% block pres %}

  {{ pres.loop(
     talk='revolution',
     slides = [
      'whats-revolutionary',
      'revolutionary-defined-disrupts',
      'revolutionary-defined-replaces',
      'revolutionary-defined-changes',
      'quote-fedlife',
      'revenge-to-the-nerds',
      'new-frameworks',
      'capabilities-opportunities',
      'quote-revolutions',
      'whats-behavior',
      'bmat',
      'bmat-motivation',
      'bmat-ability',
      'bmat-trigger',
      'back-to-2005',
      'frameworks-2005',
      'quote-jquery-release',
      'design-trifecta-01',
      'design-trifecta-02',
      'design-trifecta-03',
      'jquery-community-rising',
      'jquery-success',
      'jquery-trends',
      'quote-npm-silvero',
      'sup-css',
      'css-2005',
      'mobile-power',
      'fuckstandards',
      'css-preprocessors',
      'thanks-less',
      'game-changer',
      'compass',
      'sassy-capabilities',
      'influencers',
      'quote-innovation',
      'new-behaviors',
      'ingredients-for-change',
      'small-world-networks',
      'small-world-networks-resilience',
      'small-world-networks-dissemination',
      'designed-for-resilience',
      'civic-contributions',
      'calling-for-change',
      'yamecanse',
      'quote-alexs',
      'our-power',
      'create-opportunities',
      'imagine-reward',
      'make-shit-up',
      'potential-for-impossible',
      'whats-the-point',
      'yet-another',
      'quote-creativity',
      'its-about-humanity',
      'no-cliques',
      'yes',
      'colophon'
    ],
     dev=False
  )}}

{% endblock %}

{% block js %}
  {{ static.js() }}
{% endblock %}
