{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Pave the Cowpaths
{% endblock %}
{% block h2 %}<b>influencing</b> parent language{% endblock %}


{% block slidebody %}


{% endblock %}
