{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Collective Participation + Collective Action
{% endblock %}
{% block h2 %}
  <b>Required ingredients for change</b>
{% endblock %}


