{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  New Behaviors
{% endblock %}


{% block slidebody -%}
<ul>
  <li>We’re <b>enabling groups and individuals to try radical things</b> by removing any barriers to collaboration</li>
  <li>We’re <b>creating an environment in which people who want to get something done</b> can in a timely fashion</li>
  <li>We’re creating encouraging and supportive environments that <b>nurture creativity and individuality</b></li>
</ul>
{%- endblock %}


