{% extends "slides/quote.j2" %}

{% block quote %}
  <b>It's uncontrolled</b>, even <b>out of control</b>,
 and that's <b>its real power</b>.
{% endblock %}

{% block author %}
  {{
    u.byline(
      "Alredo Lopez",
      "The Organic Internet"
    )
  }}
{% endblock %}
