{% extends "slides/quote.j2" %}

{% block quote %}
It's {{ u.sans("uncontrolled", "u-accent") }} even {{ u.sans("out of control", "u-accent") }}
 that's its {{ u.sans("real power", "u-accent") }}
{% endblock %}

{% block author %}
  {{
    u.byline(
      "Alfredo Lopez",
      "The Organic Internet"
    )
  }}
{% endblock %}
