{% extends "slides/quote.j2" %}

{% import "utility.macros.j2" as u %}


{% block quote %}
Changes of scale mean that{{ u.accent('improbably theories become likely') }}
and that {{ u.accent('unlikely events become certainties') }}
{% endblock %}
