{% extends "slides/blank.j2" %}

{% block slide %}
 [The web] is the largest human powered information network in history. It has a culture and a history and a social structure.</em>
 <strong>It's organic</strong> and only problems of a region's development or a government's
 interference limit it...<strong>It's uncontrolled</strong>, even <strong>out of control</strong>,
 and that's <strong>its real power</strong>.
{% endblock %}
