{% extends "slides/quote.j2" %}

{% block quote %}
  If we want to change what our cities look like,
  then we really <b>have to change the decision-making processes</b>
  that have given us the results that we have right now.
  <b>We need a participation revolution, and we need it fast.</b></p>
{% endblock %}

{% block author %}
  <em>Alessandra Orofino</em>,
  <a href="http://www.ted.com/talks/alessandra_orofino_it_s_our_city_let_s_fix_it/">
    It's our city let's fix it
  </a>
{% endblock %}
