{% extends "slides/quote.j2" %}

{% block quote %}
Yep, sorry, that shiny new skill you just mastered is already nearly useless. Uh…yay? Sigh. Welcome to life on the front-end.
{% endblock %}

{% block author %}
  {{
    u.byline(
      "Medium",
      " https://medium.com/@housecor/browserify-vs-webpack-b3d7ca08a0a9q"
    )
  }}

{% endblock %}


