{% extends "slides/quote.j2" %}

{% block quote %}
It's a {{ u.accent('bottom-up, participatory innovation') }} it's
{{ u.accent('democratic') }}, it's chaotic,
it's hard to control. It's not bad, but it's very different…the
{{ u.accent("traditional rules that we have for institutions don't work anymore") }}

{% endblock %}

{% block author %}
  {{
    u.byline(
      "Joe Ito",
      "Director MIT Media Lab"
    )
  }}

{% endblock %}
