{% extends "slides/title.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
{{ u.sans('changing the dynamics', 'u-block u-accent') }}
{{ u.sans('of everything around', 'u-block') }}
{% endblock %}


