{% extends "slides/title.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  {{ u.sans('Totally disrupts', 'slab u-block u-accent') }}
  {{ u.cursive('the established order', 'display u-block')}}
{% endblock %}


