{% extends "slides/title.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
<b>changing the dynamics of everything around it</b>
{% endblock %}


