{% extends "slides/title.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  {{ u.sans('replacing the', 'u-block u-accent') }}
  {{ u.cursive('established order', 'u-block')}}
  {{ u.sans('with a new order', 'u-block u-accent') }}
{% endblock %}




