{% extends "slides/title.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}<b>Totally disrupts the established
order</b> <b class="hook">replacing the established order with a new order</b> <b>changing the dynamics of
everything around it</b>
{% endblock %}


