{% extends "slides/blank.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide_classes %}grid grid-6{% endblock %}

{% block slide %}

  {{ utility.iconic_block('Susy', '2005', 'pane') }}

  {{ utility.iconic_block('Breakpoint', '2008', 'pane') }}

  {{ utility.iconic_block('Bourbon', '2008', 'pane') }}

  {{ utility.iconic_block('Sache', '142+ Extensions', 'pane') }}
{% endblock %}
