{% extends "slides/default.j2" %}

{% block slide_classes %}left-center{% endblock %}

{% block h1 %}
  {{ u.sans("Disseminate", "slab u-block") }}
  {{ <u class="cursive"></u>("information", "slab u-block") }}
{% endblock %}

{# http://ishotadog.blogspot.com/ #}

