{% extends "slides/flip-title.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}{{ u.cursive("Small World Networks", "display") }}{% endblock %}
{% block h2 %}{{ u.sans(u.accent('Evolutionary advantageous'), "slab") }}{% endblock %}


