{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Small World Networks
{% endblock %}
{% block h2 %}{{ u.accent('Evolutionary advantageous') }}{% endblock %}

{% block slidebody -%}

  <ol>
    <li>Resistant to Damage</li>
    <li>Information dissemination</li>
  </ol>

{%- endblock %}


