{% extends "layout.j2" %}

{% block body %}
<div class="bar nav-bar">
  <h1>Presentation Styleguide</h1>
</div>

<section>
  <h1>Elements</h1>

  <h1>H1 Importance</h1>

  <h2>H2 Subtitles</h2>

  <p>Paragraphs of text</p>

  <ul>
    <li>An unordered</li>
    <li>list with some items</li>
  </ul>

  <ol>
    <li>An ordered</li>
    <li>list with some items</li>
  </ol>

  <strong>Strong</strong>
  <em>Emphasis</em>
  <b>The b tag</b>
  <i>The i tag</i>
</section>

<section>
  <h1>Slide Templates</h1>

  <ul>
    <li>

</section>


{% endblock %}
