{% extends "slides/default.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  {{ u.sans('CSS ') }}
  {{ u.sans('is') }}
  {{ u.sans('PAINFUL', 'u-accent') }}
{% endblock %}

{% block h2 %}
  {{ u.serif('circa 2007') }}
{% endblock %}

{% block slidebody -%}
  {{ u.image('css.gif', "Animated GIF. CSS as complex as opening blinds")}}
{%- endblock %}


