{% extends "slides/quote.j2" %}

{% block slide_classes %}quote vertical-center{% endblock %}


{% block quote %}
<p>Hopefully, [both] projects will continue to
  learn from each other and grow to serve the needs of CSS designers as well
  as possible.
</p>
{% endblock %}

{% block author %}
  <em>Natalie Weizenbaum</em>, Lead Architect for Sass
  <span><a href="http://nex-3.com/posts/83-sass-and-less">Blog post: Sass and Less</a></span>
{% endblock %}


