{% extends "slides/quote.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}quote vertical-center{% endblock %}


{% block quote %}
<p> There’s reason to try out both Sass and Less. For some people, the syntax
  and new ideas in Less are most important. For others, the power and maturity
  of Sass are better. Hopefully as time goes on, <b>both projects will continue to
  learn from each other and grow to serve the needs of CSS designers as well
  as possible</b>.
</p>
{% endblock %}

{% block author %}
  <em>Natalie Weizenbaum</em>, Lead Architect for Sass
  <span><a href="http://nex-3.com/posts/83-sass-and-less">Blog post: Sass and Less</a></span>
{% endblock %}


