{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}


{% block h1 %}
  Una's article on FOSS Design
{% endblock %}
{% block h2 %}compendium of triggers{% endblock %}

{% block slidebody -%}
  image here
{%- endblock %}


