{% extends "slides/title.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}full-bleed{% endblock %}

{% block h1 %}
  {{ u.cursive('What makes something', 'display u-block') }}
  {{ u.sans('revolutionary', 'slab u-block') }}
{% endblock %}


