{% extends "slides/default.j2" %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  <a href="https://twitter.com/hashtag/YaMeCanse" class="u-sans">
    #YaMeCansé
  </a>
{% endblock %}

{# http://deconstructingmyths.com/2014/12/22/longform-the-disappeared/ #}


