{% extends "slides/default.j2" %}

{% import "utility.macros.j2" as u %}

{% block slide_classes %}vertical-center{% endblock %}

{% block h1 %}
  Yes
{% endblock %}
{% block h2 %}<b>we are succeeding</b>{% endblock %}

{% block slidebody -%}



{%- endblock %}


