{% extends "slides/blank.j2" %}

{% import "utility.macros.j2" as utility %}

{% block slide_classes %}grid grid-6{% endblock %}


{% block slide %}

  {{ utility.iconic_block('MythCSS', '2008', 'pane') }}

  {{ utility.iconic_block('ReWorkCSS', '2014', 'pane') }}

  {{ utility.iconic_block('HarpJS', '2008', 'pane') }}

  {{ utility.iconic_block('broccolijs', '2008', 'pane') }}

  {{ utility.iconic_block('MeteorJS', '2008', 'pane') }}

  {{ utility.iconic_block('GobbleJS', '2014', 'pane') }}
{% endblock %}
