/*
Error: "gray" is not a color for `tint'
        on line 30 of /Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/accoutrement-1.0.0.beta.7/stylesheets/accoutrement/_color.scss
        from line 5 of /Users/cs/Projects/presentations/pres/source/sass/base/_base.scss
        from line 4 of /Users/cs/Projects/presentations/pres/source/sass/talks/map-magic/slides.scss

25:   color: color(base (rgba: .5));
26: 
27:   .slidewrap {
28:     @include display-flex;
29:     @include justify-content(center);
30:   }
31: 
32:   .crumb-active {
33:     color: color(accent);
34:     font-weight: bold;
35:   }

Backtrace:
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/accoutrement-1.0.0.beta.7/stylesheets/accoutrement/_color.scss:30
/Users/cs/Projects/presentations/pres/source/sass/base/_base.scss:5
/Users/cs/Projects/presentations/pres/source/sass/talks/map-magic/slides.scss:4
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:303:in `reformat_argument_error'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:146:in `rescue in _perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:123:in `_perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/node.rb:50:in `perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/functions.rb:585:in `perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/functions.rb:2181:in `call'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:140:in `_perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/node.rb:50:in `perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:458:in `visit_variable'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:289:in `block (2 levels) in visit_if'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:289:in `map'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:289:in `block in visit_if'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:288:in `visit_if'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:240:in `block (3 levels) in visit_each'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:240:in `map'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:240:in `block (2 levels) in visit_each'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:232:in `map'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:232:in `block in visit_each'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:231:in `visit_each'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:248:in `block (3 levels) in perform_sass_fn'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:248:in `each'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:248:in `block (2 levels) in perform_sass_fn'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:247:in `catch'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:247:in `block in perform_sass_fn'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:84:in `perform_arguments'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:244:in `perform_sass_fn'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/funcall.rb:131:in `_perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/script/tree/node.rb:50:in `perform'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:458:in `visit_variable'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:88:in `with_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:315:in `block (2 levels) in visit_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:315:in `map'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:315:in `block in visit_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:88:in `block in with_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:88:in `with_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:312:in `visit_import'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `block in with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:115:in `with_frame'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/stack.rb:79:in `with_base'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/tree/root_node.rb:20:in `render'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/engine.rb:268:in `render'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `each'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/lib/sass/plugin/compiler.rb:329:in `block in watch'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/vendor/listen/lib/listen/listener.rb:252:in `call'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/sass-3.4.3/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: \"gray\" is not a color for `tint'\A         on line 30 of /Users/cs/.rbenv/versions/2.0.0-p451/lib/ruby/gems/2.0.0/gems/accoutrement-1.0.0.beta.7/stylesheets/accoutrement/_color.scss\A         from line 5 of /Users/cs/Projects/presentations/pres/source/sass/base/_base.scss\A         from line 4 of /Users/cs/Projects/presentations/pres/source/sass/talks/map-magic/slides.scss\A \A 25:   color: color(base (rgba: .5));\A 26: \A 27:   .slidewrap {\A 28:     @include display-flex;\A 29:     @include justify-content(center);\A 30:   }\A 31: \A 32:   .crumb-active {\A 33:     color: color(accent);\A 34:     font-weight: bold;\A 35:   }"; }
