// The Front-End Revolution Slides
// ===============================

@import "base/base";
@import "slide.config";

.is-hidden {
  @extend %is-hidden;
}

// defaults
.slidewrap {
  @include display-flex;
  @include flex-direction(column);
  padding: 1.5rem;
  height: 100%;

  .slidebody {
    @extend %type;
    text-align: center;
  }

}

// Classes for building slides
// all classes build on .slidewrap

// Stacked, evenly spaced rows
.stacked {
  .list {
    @include display-flex;
    @include flex-direction(column);
  }

  .item {
    @include display-flex;
    @include flex(1 1);
    align-items: center;
    padding-left: 2rem;
  }
}

// Grided layouts
.grid {
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(center);
  text-align: center;

  &-3 .pane,
  &-6 .pane {
    @include flex(1 1 33%);
  }

  &-2 .pane,
  &-4 .pane {
    @include flex(1 1 50%);
  }

  &-8 .pane {
    @include flex(1 1 25%);
  }
}

// Slides with images

%image-slide {
  background-repeat: no-repeat;
}

.bg--cover,
.image--cover {
  @extend %image-slide;
  background-size: cover;
}

.bg--contain,
.image--contain {
  @extend %image-slide;
  background-size: contain;
}

.vertical-center {
  align-items: center;
  justify-content: center;
}

.quote {
  blockquote {
    @include font-size(xlarge);
  }
  footer {
    @include font-size(normal);
    font-style: italic;
  }
}

%code {
  @extend .vertical-center;
  text-align: center;
}

%diptych {
  .slidewrap {

  }

  .pane {
    @include flex(1 0 50%);
    @include align-self(stretch);
  }
}

// %btn-bread {
//   @extend %type;
//   @extend %default;
//   @include font-size(h3);
//   color: color(base (rgba: .5));

//   .slidewrap {
//     @include display-flex;
//     @include justify-content(center);
//   }

//   .crumb-active {
//     color: color(accent);
//     font-weight: bold;
//   }
// }


// Common
// ------

$default: ();

$code: ();


// Slide Details
// -------------

.highlight {
  @include font-size(small);

  .slidebody & {
    @include font-size(smaller, .75);
    border: 2px dashed color(border);
    border-width: 2px 0;
    padding: size(shim);
  }
}


.two-up {
  @include align-items(stretch);
  @include display-flex;
  background: color(back (rgba: .75));
  border: 2px dashed color(border);
  border-width: 2px 0;

  .highlight {
    @include flex(1);
    border: 0;
    overflow: hidden;

    + .highlight {
      border-left: 1px dotted color(border (rgba: .25));
    }
  }
}


@include slide('revolutionary-defined') {
  .hook {
    white-space: nowrap;
    color: inherit;
  }
}

@include slide('jquery-community-rising') {
  blockquote {
    @include font-size(h1);
  }
}

@include slide('quote-creativity') {
  blockquote {
    @include font-size(h1);
  }
}

@include slide('quote-npm-silvero') {
  blockquote {
    @include font-size(h1);
  }
}

@include slide('thanks-less') {
  blockquote {
    @include font-size(h1);
  }
}


@include slide('designed-for-resilience') {
  @extend .bg--cover;
  background-image: url('../images/smallworldnetwork.png');
}

@include slide('capabilities-opportunities', 'diptych');

@include slide('whats-behavior') {
  background-image: url('../images/whatifitoldyou.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  .slidehead {
    @include display-flex;
    @include flex-direction(column);
    color: white;
    height: 100vh;
  }

  .subhead {
    margin-top: auto;
  }

}

@include slide('bmat') {

  .slidewrap {
    @extend .bg--contain;
    background-image: url('../images/bmat.png');
  }
}

@include slide('mobile-power') {
  background: url('../images/first-iphone.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  .slidehead {
    @include display-flex;
    @include flex-direction(column);
  }

  .subhead {
    margin-top: auto;
  }
}

@include slide('sassy-capabilities') {
  .iconic--sache {
    @extend .bg--cover;
    background-image: url('../images/sache.png');
  }
}


@include slide('compass') {
  .slidebody {
    font-size: 10rem;
    margin-top: 5rem;
    color: hsl(0,100%,50%);
  }
}

@include slide('whats-the-point') {
  @extend .bg--contain;
  background-position: 50% 50%;
  background-image: url('../images/redundant.png');
}

@include slide('make-shit-up') {
  .head {
    @extend %is-hidden;
  }

  background-image: url('../images/makeshitup.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@include slide('colophon') {
  @extend .bg--contain;
  background-image: url('../images/fist.png');

  .slidewrap {
    width: 50%;
    float: right;
  }

  .head {
    @extend %is-hidden;
  }
}

@include keyframes(scroll-up) {
  0% { @include translate3d(0, 0, 0); }
  100% { @include translate3d(0, - size(gutter) * 19.5, 0); }
}

// @each $slide in $default {
//   @include slide($slide, 'default');
// }


.iconic-title {
  @extend .bg--contain;
  height: 210px;
  background-position: 50% 50%;

  span {
    @extend %is-hidden;
  }

}

$iconic: (
  'angular': 'angular.png',
  'bem': 'bem.svg',
  'bourbon': 'bourbon.png',
  'bower': 'bower.png',
  'breakpoint': 'breakpoint.png',
  'broccolijs': 'broccolijs.png',
  'coffeescript': 'coffeescript.png',
  'dhtmlx': 'dhtmlx.jpeg',
  'dojo': 'dojo.svg',
  'ember': 'ember.png',
  'extjs': 'extjs.jpeg',
  'git': 'git.png',
  'github': 'github.png',
  'gobblejs': 'gobblejs.png',
  'grunt': 'grunt.png',
  'gulp': 'gulp.png',
  'harpjs': 'harpjs.svg',
  'jekyll': 'jekyll.png',
  'jquery': 'jquery-badge.png',
  'less': 'less.png',
  'meteorjs': 'meteorjs.png',
  'mootools': 'mootools.png',
  'mythcss': 'myth.jpg',
  'nodejs': 'nodejs.svg.png',
  'octopress': 'octopress.png',
  'oocss': 'oocss.jpg',
  'prototype': 'prototype.jpg',
  'reworkcss': 'rework.gif',
  'rwd': 'rwd.png',
  'sass': 'sass.png',
  'smacss': 'smacss.png',
  'scriptaculous': 'scriptaculous-light.png',
  'susy': 'susy.svg',
  'stylus': 'stylus.png',
  'turbine': 'turbine.png',
  'yeoman': 'yeoman.png',
  'yui': 'yuilib.jpg'

);


@each $tool, $logo in $iconic {
  .iconic--#{$tool} {
    .iconic-title {
      background-image: url('../images/logos/#{$logo}');
    }
  }
}
