// Slides
// ======

.slide {
  // @include transition(all 150ms);
  counter-increment: slide;
  // float: left;
  height: 100vh;
  // margin-right: -1000%;
  opacity: 1;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  width: 100vw;
}

[id^="toggle-slide-"] {
  @include is-toggle {
    + .slide {
      opacity: 1;
      z-index: 100;
    }
  }
}

.credit {
  // @include font-size(smaller);
  background: color(shadow);
  bottom: size(shim);
  font-weight: bold;
  padding: size(shim) size(shim);
  position: absolute;
  left: size(shim);
}
