// Slidehead
// =========

.slidehead {
  margin-bottom: size(shim);
  text-align: center;

  &:last-child { margin-bottom: 0; }

  em { font-style: italic; }
  strong { font-weight: bold; }
}

.head {
  @extend %h1;

  b { display: inline-block; }
}
