// Slides Configuration
// ====================

@mixin slide(
  $name,
  $extends: false
) {
  [data-toggle='#{$name}'] {
    @if $extends {
      @each $class in $extends {
        @extend %#{$class};
      }
    }
    @content;
  }
}

@mixin is-active($name) {
  [id="toggle-slide-#{$name}"]:checked + & {
    @content;
  }
}


@import "slides/whats-revolutionary";
@import "slides/quote-revolutions";
@import "slides/quote-jquery-release";
@import "slides/small-world-networks";
@import "slides/yamecanse";

