@include slide('sup-css') {
  background: color(black);
  color: color(back);
}


@include slide('game-changer') {
  background-color: color(pink);
  background-image: url('../images/logos/sass.png');
}
