// Color Config
// ============

$colors: (
  'purple': (hsl(309, 46%, 14%)),

  'gray': 'purple' (tint: 80%),
  'blue': hsl(195, 100%, 40%),
  'orange': hsl(24, 100%, 50%),
  'green': hsl(75, 100%, 50%),
  'pink': hsl(330, 100%, 50%),
  'red': hsl(0, 100%, 50%),

  light: 'purple' (tint: 40%),
  base: 'purple' (shade: 40%),
  alt: 'blue',
  accent: 'red',
  stop: red,

  action: alt,
  focus: accent,

  back: hsl(0, 0%, 99%),
  shadow: back (rgba: .5),
  border: 'purple',
);

$contrasted-dark-default: color(light);
$contrasted-light-default: color(base);
