// Fonts
// =====

$font-formats: woff;

$fonts: (
  sans: (
    name: BebasNeue,
    type: sans-serif,
    files: (normal: 'bebas-neue/BebasNeue'),
    stack: ('Helvetica Neue', Helvetica, Arial, sans-serif)
  ),

  code: (
    name: SourceCodePro,
    type: monospace,
    path: 'code/sourcecodepro-%s%s-webfont',
    styles: (regular, bold),
    stack: (Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New'),
  ),

  serif: (
    name: aleo,
    path: 'aleo/aleo-%s%s',
    styles: (regular, italic, bold),
    stack: (Georgia, Times, serif)
  ),

  negative: (
    name: SignikaNegative,
    files: (
      regular: 'signika/signikanegative-regular',
      bold: 'signika/signikanegative-bold',
      semibold: 'signika/signikanegative-semibold'
      ),
    stack: (Tahoma, Helvetica, Arial, sans-serif)
  )
);


