// html/body
// ---------

html {
  background: color(back);
  color: color(base);
  text-shadow: color(shadow) 0 1px 0;
}

html, body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
}


// Type
// ----

pre, code { @extend %code; }

b,
.u-accent { color: color(accent); }

// a {
//   #{$link} { @extend %link; }
//   #{$focus} { @extend %link-focus; }
// }

.display {
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 0.07em;
  font-size: 1.25em;
  line-height: 1.25em;
  white-space: nowrap;
}

.slab {
  font-size: 1.5em;
  letter-spacing: 0.03em;
  line-height: 1.1;
}


.u-serif {
  @extend %serif;
}


.u-sans {
  @extend %sans;
}


.u-cursive {
  font-family: 'Great Vibes', cursive;
}


.u-inline {
  display: inline-block;
}


.u-block {
  display: block;
}


.u-bold {
  font-weight: bold;
}


.u-accent {
  color: color(accent);
}


.u-titlize {
  text-transform: capitalize;
}


.u-majuscula {
  text-transform: uppercase;
}


.u-minuscula {
  text-transform: lowercase;
}

.u-strikeout {
  text-decoration: line-through;
}

// Utility
// -------

.alt-text,
.is-hidden {
  @extend %is-hidden;
}
