@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol,
ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q,
blockquote {
  quotes: none; }
  q:before,
  q:after,
  blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

.alt-text,
.is-hidden, [data-toggle="make-shit-up"] .head, [data-toggle="colophon"] .head, .iconic-title span {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }

.head {
  font-size: 5.0625rem;
  line-height: 5.25rem;
  font-weight: bold; }

.subhead {
  font-size: 3.375rem;
  line-height: 3.75rem; }

@font-face {
  font-family: "BebasNeue";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/bebas-neue/BebasNeue.woff") format("woff"); }

.u-sans {
  font-family: BebasNeue, "Helvetica Neue", Helvetica, Arial, sans-serif; }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/code/sourcecodepro-regular-webfont.woff") format("woff"); }

@font-face {
  font-family: "SourceCodePro";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/code/sourcecodepro-bold-webfont.woff") format("woff"); }

pre, code {
  font-family: SourceCodePro, Consolas, Menlo, Monaco, "Lucida Console", "Liberation Mono", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New"; }

@font-face {
  font-family: "aleo";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/aleo/aleo-regular.woff") format("woff"); }

@font-face {
  font-family: "aleo";
  font-style: italic;
  font-weight: normal;
  src: url("../fonts/aleo/aleo-italic.woff") format("woff"); }

@font-face {
  font-family: "aleo";
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/aleo/aleo-bold.woff") format("woff"); }

.u-serif, .quote {
  font-family: aleo, Georgia, Times, serif; }

@font-face {
  font-family: "SignikaNegative";
  src: url("../fonts/regular.woff") format("woff"); }

@font-face {
  font-family: "SignikaNegative";
  font-weight: bold;
  src: url("../fonts/signika/signikanegative-bold.woff") format("woff"); }

@font-face {
  font-family: "SignikaNegative";
  src: url("../fonts/semibold.woff") format("woff"); }

*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  background: #fcfcfc;
  color: #1f0c1c;
  text-shadow: rgba(252, 252, 252, 0.5) 0 1px 0; }

html, body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw; }

b,
.u-accent {
  color: red; }

.display {
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 0.07em;
  font-size: 1.25em;
  line-height: 1.25em;
  white-space: nowrap; }

.slab {
  font-size: 1.5em;
  letter-spacing: 0.03em;
  line-height: 1.1; }

.u-cursive {
  font-family: 'Great Vibes', cursive; }

.u-inline {
  display: inline-block; }

.u-block {
  display: block; }

.u-bold {
  font-weight: bold; }

.u-accent {
  color: red; }

.u-titlize {
  text-transform: capitalize; }

.u-majuscula {
  text-transform: uppercase; }

.u-minuscula {
  text-transform: lowercase; }

.u-strikeout {
  text-decoration: line-through; }

.slide {
  counter-increment: slide;
  height: 100vh;
  opacity: 1;
  overflow-x: scroll;
  overflow-y: scroll;
  position: relative;
  width: 100vw; }

[id^="toggle-slide-"] {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(1px 1px 1px 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px; }
  [id^="toggle-slide-"]:checked + .slide {
    opacity: 1;
    z-index: 100; }

.credit {
  background: rgba(252, 252, 252, 0.5);
  bottom: 0.4375rem;
  font-weight: bold;
  padding: 0.4375rem 0.4375rem;
  position: absolute;
  left: 0.4375rem; }

.quote {
  margin-left: auto;
  margin-right: auto;
  font-size: 4em;
  max-width: 95vw;
  text-transform: capitalize;
  text-align: right; }
  .quote .u-sans {
    display: block;
    line-height: 1;
    letter-spacing: 0.01em; }
  .quote blockquote {
    line-height: 1.3;
    margin-botom: 1.5rem; }
  .quote footer {
    font-size: 1rem;
    line-height: 1.5rem;
    font-style: italic; }

.quote--left {
  text-align: left; }

.slidenav {
  display: none; }

.prev,
.next {
  background: rgba(0, 153, 204, 0.25);
  bottom: 0;
  color: rgba(252, 252, 252, 0.5);
  cursor: pointer;
  opacity: 0;
  padding: 0.4375rem;
  position: fixed;
  top: 0;
  z-index: 500; }
  .prev:hover,
  .prev:focus,
  .prev:active,
  .next:hover, .next:focus, .next:active {
    opacity: .5; }

.prev {
  left: 0; }
  .prev:before {
    content: "«"; }

.next {
  right: 0; }
  .next:before {
    content: "»"; }

.this {
  bottom: 0;
  left: 0;
  opacity: .25;
  padding: 0 0.4375rem;
  position: fixed;
  text-align: left;
  z-index: 800; }
  .this:before {
    content: counter(slide); }
  .this:hover {
    opacity: .5; }

.slidehead {
  margin-bottom: 0.4375rem;
  text-align: center; }
  .left-center .slidehead {
    text-align: left; }
  .slidehead:last-child {
    margin-bottom: 0; }
  .slidehead em {
    font-style: italic; }
  .slidehead strong {
    font-weight: bold; }

.head b {
  display: inline-block; }

.subhead {
  margin-bottom: 1.5rem; }

[data-toggle="whats-revolutionary"] {
  background-image: url("../images/revolutionary.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  [data-toggle="whats-revolutionary"] .head {
    color: #fcfcfc;
    height: 100vh; }
    [data-toggle="whats-revolutionary"] .head .u-block {
      background: black;
      width: 100vw; }
    [data-toggle="whats-revolutionary"] .head .slab {
      position: absolute;
      bottom: 0; }

[data-toggle="quote-revolutions"] .u-sans {
  display: block;
  line-height: 1;
  text-align: left; }

[data-toggle="quote-revolutions"] .text-first {
  font-size: 2em; }

[data-toggle="quote-revolutions"] .text-last {
  font-size: 2.5em; }

[data-toggle="quote-jquery-release"] .u-sans {
  text-align: left;
  font-size: 2.5em; }

[data-toggle="small-world-networks-dissemination"] {
  background-image: url("../images/tin-can-telephones.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #fcfcfc; }

[data-toggle="yamecanse"] {
  background-image: url("../images/yamecanse.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  [data-toggle="yamecanse"] a {
    color: #fcfcfc; }

[data-toggle="calling-for-change"] {
  background-image: url("../images/blacklivesmatter.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  [data-toggle="calling-for-change"] h1 {
    display: none; }
  [data-toggle="calling-for-change"] a {
    color: #fcfcfc; }

.slide {
  display: block; }

[data-toggle="whats-behavior"] {
  background-image: url("../images/whats-behavior.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: 300px 70px; }
  [data-toggle="whats-behavior"] .slidehead {
    text-align: left;
    color: white;
    padding-top: 3em;
    padding-left: 2em; }

[data-toggle="bmat"] .slidebody,
[data-toggle="bmat"] .head {
  text-align: left; }

[data-toggle="bmat"] .times {
  font-size: 3rem; }

[data-toggle="bmat"] .slidehead {
  order: 2; }

[data-toggle="bmat"] .slidebody {
  font-size: 8rem;
  line-height: 9rem; }

[data-toggle="sup-css"] {
  background: black;
  color: #fcfcfc; }

[data-toggle="game-changer"] {
  background-color: pink;
  background-image: url("../images/logos/sass.png"); }

.slidewrap {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100vh; }

.slidebody {
  text-align: center; }

.slidewrap--full-bleed {
  padding: 0; }

.stacked .list {
  display: flex;
  flex-direction: column; }

.stacked .item {
  display: flex;
  flex: 1 1;
  align-items: center;
  padding-left: 2rem; }

.grid {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .grid-3 .pane,
  .grid-6 .pane {
    flex: 1 1 33%; }
  .grid-2 .pane,
  .grid-4 .pane {
    flex: 1 1 50%; }
  .grid-8 .pane {
    flex: 1 1 25%;
    height: 50vh;
    padding: 2.5em; }

.bg--cover,
[data-toggle="designed-for-resilience"], [data-toggle="sassy-capabilities"] .iconic--sache, .image--cover, .bg--contain,
[data-toggle="whats-the-point"], [data-toggle="colophon"], .iconic-title, .image--contain {
  background-repeat: no-repeat; }

.bg--cover,
[data-toggle="designed-for-resilience"],
[data-toggle="sassy-capabilities"] .iconic--sache,
.image--cover {
  background-size: cover; }

.bg--contain,
[data-toggle="whats-the-point"],
[data-toggle="colophon"],
.iconic-title,
.image--contain {
  background-size: contain; }

.vertical-center, pre, code {
  align-items: center;
  justify-content: center; }

.left-center {
  justify-content: center; }

.full-bleed {
  padding: 0; }

pre, code {
  text-align: center; }

[data-toggle="capabilities-opportunities"] .pane {
  flex: 1 0 50%;
  align-self: stretch; }

.slidebody .highlight {
  border: 2px dashed #34132f;
  border-width: 2px 0;
  padding: 0.4375rem; }

.two-up {
  display: flex;
  align-items: stretch;
  background: rgba(252, 252, 252, 0.75);
  border: 2px dashed #34132f;
  border-width: 2px 0; }
  .two-up .highlight {
    flex: 1;
    border: 0;
    overflow: hidden; }
    .two-up .highlight + .highlight {
      border-left: 1px dotted rgba(52, 19, 47, 0.25); }

[data-toggle="designed-for-resilience"] {
  background-image: url("../images/evolutionary-advantageous.jpg"); }

[data-toggle="mobile-power"] {
  background: url("../images/first-iphone.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%; }
  [data-toggle="mobile-power"] .slidehead {
    display: flex;
    flex-direction: column; }
  [data-toggle="mobile-power"] .subhead {
    margin-top: auto; }

[data-toggle="sassy-capabilities"] .iconic--sache {
  background-image: url("../images/sache.png"); }

[data-toggle="compass"] .slidebody {
  font-size: 10rem;
  margin-top: 5rem;
  color: red; }

[data-toggle="whats-the-point"] {
  background-position: 50% 50%;
  background-image: url("../images/redundant.png"); }

[data-toggle="make-shit-up"] {
  background-image: url("../images/makeshitup.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

[data-toggle="colophon"] {
  background-image: url("../images/fist.png"); }
  [data-toggle="colophon"] .slidewrap {
    width: 50%;
    float: right; }

.iconic-title {
  height: 210px;
  background-position: 50% 50%; }

.iconic--angular {
  background-color: #857282; }
  .iconic--angular .iconic-title {
    background-image: url("../images/logos/angular.png"); }

.iconic--bem .iconic-title {
  background-image: url("../images/logos/bem.svg"); }

.iconic--bourbon .iconic-title {
  background-image: url("../images/logos/bourbon.png"); }

.iconic--bower {
  background-color: red; }
  .iconic--bower .iconic-title {
    background-image: url("../images/logos/bower.png"); }

.iconic--breakpoint .iconic-title {
  background-image: url("../images/logos/breakpoint.png"); }

.iconic--broccolijs .iconic-title {
  background-image: url("../images/logos/broccolijs.png"); }

.iconic--coffeescript .iconic-title {
  background-image: url("../images/logos/coffeescript.png"); }

.iconic--dhtmlx {
  background-color: orange; }
  .iconic--dhtmlx .iconic-title {
    background-image: url("../images/logos/dhtmlx.jpeg"); }

.iconic--dojo {
  background-color: pink; }
  .iconic--dojo .iconic-title {
    background-image: url("../images/logos/dojo.svg"); }

.iconic--ember {
  background-color: orange; }
  .iconic--ember .iconic-title {
    background-image: url("../images/logos/ember.png"); }

.iconic--extjs {
  background-color: blue; }
  .iconic--extjs .iconic-title {
    background-image: url("../images/logos/extjs.jpeg"); }

.iconic--git .iconic-title {
  background-image: url("../images/logos/git.png"); }

.iconic--github .iconic-title {
  background-image: url("../images/logos/github.png"); }

.iconic--gobblejs .iconic-title {
  background-image: url("../images/logos/gobblejs.png"); }

.iconic--grunt {
  background-color: orange; }
  .iconic--grunt .iconic-title {
    background-image: url("../images/logos/grunt.png"); }

.iconic--gulp {
  background-color: pink; }
  .iconic--gulp .iconic-title {
    background-image: url("../images/logos/gulp.png"); }

.iconic--harpjs .iconic-title {
  background-image: url("../images/logos/harpjs.svg"); }

.iconic--jekyll .iconic-title {
  background-image: url("../images/logos/jekyll.png"); }

.iconic--jquery {
  background-color: blue; }
  .iconic--jquery .iconic-title {
    background-image: url("../images/logos/jquery-badge.png"); }

.iconic--less .iconic-title {
  background-image: url("../images/logos/less.png"); }

.iconic--meteorjs .iconic-title {
  background-image: url("../images/logos/meteorjs.png"); }

.iconic--mootools {
  background-color: grey; }
  .iconic--mootools .iconic-title {
    background-image: url("../images/logos/mootools.png"); }

.iconic--mythcss .iconic-title {
  background-image: url("../images/logos/myth.jpg"); }

.iconic--nodejs {
  background-color: green; }
  .iconic--nodejs .iconic-title {
    background-image: url("../images/logos/nodejs.svg.png"); }

.iconic--octopress .iconic-title {
  background-image: url("../images/logos/octopress.png"); }

.iconic--oocss .iconic-title {
  background-image: url("../images/logos/oocss.jpg"); }

.iconic--prototype {
  background-color: orange; }
  .iconic--prototype .iconic-title {
    background-image: url("../images/logos/prototype.jpg"); }

.iconic--reworkcss .iconic-title {
  background-image: url("../images/logos/rework.gif"); }

.iconic--rwd .iconic-title {
  background-image: url("../images/logos/rwd.png"); }

.iconic--sass {
  background-color: blue; }
  .iconic--sass .iconic-title {
    background-image: url("../images/logos/sass.png"); }

.iconic--smacss .iconic-title {
  background-image: url("../images/logos/smacss.png"); }

.iconic--scriptaculous {
  background-color: green; }
  .iconic--scriptaculous .iconic-title {
    background-image: url("../images/logos/scriptaculous-light.png"); }

.iconic--susy .iconic-title {
  background-image: url("../images/logos/susy.svg"); }

.iconic--stylus .iconic-title {
  background-image: url("../images/logos/stylus.png"); }

.iconic--turbine .iconic-title {
  background-image: url("../images/logos/turbine.png"); }

.iconic--yeoman .iconic-title {
  background-image: url("../images/logos/yeoman.png"); }

.iconic--yui {
  background-color: purple; }
  .iconic--yui .iconic-title {
    background-image: url("../images/logos/yuilib.jpg"); }

.c {
  color: #d6d0d5;
  font-style: italic; }

.err {
  color: red; }

.k {
  font-weight: bold; }

.o {
  color: #d6d0d5; }

.cm {
  color: #d6d0d5;
  font-style: italic; }

.cp {
  color: #d6d0d5;
  font-weight: bold; }

.c1 {
  color: #d6d0d5;
  font-style: italic; }

.cs {
  color: #d6d0d5;
  font-weight: bold;
  font-style: italic; }

.gd {
  color: #1f0c1c;
  background-color: #ffdddd; }

.gd .x {
  color: #1f0c1c;
  background-color: #ffaaaa; }

.ge {
  font-style: italic; }

.gr {
  color: #aa0000; }

.gh {
  color: #d6d0d5; }

.gi {
  color: #1f0c1c;
  background-color: #ddffdd; }

.gi .x {
  color: #1f0c1c;
  background-color: #aaffaa; }

.go {
  color: #888888; }

.gp {
  color: #555555; }

.gs {
  font-weight: bold; }

.gu {
  color: #800080;
  font-weight: bold; }

.gt {
  color: #aa0000; }

.kc {
  font-weight: bold; }

.kd {
  font-weight: bold; }

.kn {
  font-weight: bold; }

.kp {
  font-weight: bold; }

.kr {
  font-weight: bold; }

.kt {
  color: #004d66;
  font-weight: bold; }

.m {
  color: #0099cc; }

.s {
  color: red; }

.n {
  color: #1f0c1c; }

.na {
  color: #0099cc; }

.nb {
  color: red; }

.nc {
  color: #004d66;
  font-weight: bold; }

.no {
  color: #0099cc; }

.ni {
  color: red; }

.ne {
  color: red;
  font-weight: bold; }

.nf {
  color: red;
  font-weight: bold; }

.nn {
  color: #d6d0d5; }

.nt {
  color: #004d66; }

.nv {
  color: red; }

.ow {
  font-weight: bold; }

.w {
  color: #bbbbbb; }

.mf {
  color: #0099cc; }

.mh {
  color: #0099cc; }

.mi {
  color: #0099cc; }

.mo {
  color: #0099cc; }

.sb {
  color: red; }

.sc {
  color: red; }

.sd {
  color: red; }

.s2 {
  color: red; }

.se {
  color: red; }

.sh {
  color: red; }

.si {
  color: red; }

.sx {
  color: red; }

.sr {
  color: #009926; }

.s1 {
  color: red; }

.ss {
  color: #990073; }

.bp {
  color: #d6d0d5; }

.vc {
  color: #0099cc; }

.vg {
  color: #0099cc; }

.vi {
  color: #0099cc; }

.il {
  color: #0099cc; }

.gc {
  color: #999;
  background-color: #EAF2F5; }

/*# sourceMappingURL=maps/screen.css.map */