{% extends "slides/_blank.j2" %}

{% block slide_classes %}quote{% endblock %}

{% block slide %}
<blockquote>
  {% block quote %}{% endblock %}

  <footer>
    {% block cite -%}
      <cite>{% block author %}{% endblock %}</cite>
    {%- endblock %}
  </footer>

</blockquote>
{% endblock %}
